.following-button:hover {
  padding-left: 1.18rem;
  padding-right: 1.18rem;
  border: none;
}

.following-button:hover span {
  display: none;
}

.following-button:hover:before {
  content: "Unfollow";
}
